<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<header class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <div class="navbar-nav me-auto">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tabelas
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" th:href="@{/createCliente}">Cliente</a></li>
          <li><a class="dropdown-item" th:href="@{/createCombustivel}">Combustível</a></li>
          <li><a class="dropdown-item" th:href="@{/createMarca}">Marca</a></li>
          <li><a class="dropdown-item" th:href="@{/createPosto}">Posto</a></li>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Estruturas
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" th:href="@{/createItinerario}">Itinerário</a></li>
          <li><a class="dropdown-item" th:href="@{/createMotorista}">Motorista</a></li>
          <li><a class="dropdown-item" th:href="@{/veiculos/create}">Veículo</a></li>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Lançamentos
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" th:href="@{/abastecimentos/create}">Abastecimento</a></li>
          <li><a class="dropdown-item" th:href="@{/movimentacoes/create}">Movimentação</a></li>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Consultas
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" th:href="@{/abastecimentos}">Abastecimentos</a></li>
          <li><a class="dropdown-item" th:href="@{/clientes}">Clientes</a></li>
          <li><a class="dropdown-item" th:href="@{/combustiveis}">Combustíveis</a></li>
          <li><a class="dropdown-item" th:href="@{/itinerarios}">Itinerários</a></li>
          <li><a class="dropdown-item" th:href="@{/marcas}">Marcas</a></li>
          <li><a class="dropdown-item" th:href="@{/motoristas}">Motoristas</a></li>
          <li><a class="dropdown-item" th:href="@{/movimentacoes}">Movimentações</a></li>
          <li><a class="dropdown-item" th:href="@{/postos}">Postos</a></li>
          <li><a class="dropdown-item" th:href="@{/veiculos}">Veículos</a></li>
        </ul>
      </div>
      <a class="nav-link" th:href="@{/relatorios}">Relatórios</a>
    </div>
  </nav>
</header>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>